.details-whole{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.detailsCard{
    height: 200px;
    width: 100px;
    background-color: grey;
}