.section-line{
    height: 4px;
    width: 100%;
    background: linear-gradient(45deg,white, rgb(165, 68, 68), rgb(74, 74, 181), white);
}


.landing-whole{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
