.user-page-whole{
    height: 120vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}
.user-page-sides{
display: flex;
justify-content: center;
align-content: center;
align-items: center;
height: 80vh;

}
.user-page-left{
    margin-right: 20px; 

    height: 100%;
    width: 40vw;
    text-align: left;
    color: black
}

.user-page-right{
    margin-left: 20px; 
    color: black;
    height: 100%;
    width: 40vw;
    text-align: left;
}

.user-page-list{
    width: 100%;
    height: 80%;
    overflow: scroll;
}

.orders{
    max-width: 400px;
    color: black;
}

.divider{
    height: 400px;
    width: 10%;
    display: flex;
    overflow: hidden;
    align-content: space-around;
    justify-content: space-around;
}

.divider .bar{
    background-color: black;
    height: 400px;
    width: 2px;
    margin: -15px;
}

.order-box{
    background: pink;
    margin: 10px 0 10px 0;
    border: #A2A2F5;
    border-style: inset;
}

.fave-card-heart{
    position: fixed !important;
}