.user-page-whole{
    height: 120vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}
.user-page-sides{
display: flex;
justify-content: center;
align-content: center;
align-items: center;

}
.user-page-left{
    margin-right: 20px; 

    height: 500px;
    width: 40vw;
    text-align: left;
    color: black
}

.user-page-right{
    margin-left: 20px; 
    color: black;
    height: 500px;
    width: 40vw;
    text-align: left;
}

.orders{
    max-width: 400px;
    color: black;
}

.divider{
    height: 400px;
    width: 10%;
    display: flex;
    overflow: hidden;
    align-content: space-around;
    justify-content: space-around;
}

.divider .bar{
    background-color: black;
    height: 400px;
    width: 2px;
    margin: -15px;
}