.filler-whole {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
@media(min-width: 768px){
.title_text{
font-size: 2em;
}
}

.list-item-whole{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


 .filler-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 0.9em;
    margin: 100px 0 100px 0px;
    max-width: 853px;
}

.black-text{
    color: black;
}
.list-item-whole:hover  .favorite-heart-whole{
    display: block;
}
.favorite-heart-whole:hover  .image-price{
    opacity: 1;
}

.image-price{  
margin:6px;
top: 3px;
left: 0;
color: black;
position: absolute;
opacity: 0;
display: flex;
align-content: flex-start;
width: 23%;
height: 20%;
 }
.image-price::before{
    content: "$"
} 
 .list-image:hover .image-price{
    margin:6px;
    opacity: 1;
    left: 0;
     color: rgb(0, 0, 0);
    position: absolute;
}
.list-image {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    width: 200px;
    height:250px;
    margin: 5px;
    background-position: center;
    background-size: cover;
    background-color: rgb(238, 238, 238);
    position: relative;
}

.list-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: black;
    
    width: 210px;
    height: 292px
}
.see-button{
    background-color: rgba(202, 202, 202, 0.556) !important;
}
.see-button:hover{
    background-color: rgb(244, 244, 244) !important;
    color: rgb(165, 53, 53) !important;
}

.shadowed{
    position:relative;

     box-shadow:0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7{
   
    
        position:relative;
        -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
           -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
   
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 5px;
    width: 410px;
    height: 250px;
    margin-top: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bordered{
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.bordered:hover{
    border-color: rgb(165, 53, 53) ;
}
.top-margin{
    margin-top: 75px;
}
.filler_image_name{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 80%;
}

@media screen and (min-width: 860px){
    .effect7{
        width: 97%;
        height: 250px;
        margin-top: 25px;
    }

}


@media screen and (min-width: 750px) and ( max-width: 860px){
    .filler-list{
        display: flex;
        font-size: 0.9em;
        margin: 100px 0 100px 0px;
        width: 700px;
        max-width: 651px;
    }

}

@media screen and (max-width: 750px){
    .filler-list{
        display: flex;
        font-size: 0.9em;
        margin: 100px 0 100px 0px;
        width: 99%;
        max-width: 80%;
        }
 
    .list-item{
    
        width: 33vw;
        height: 300px;
    }  
    .list-image{
        width: 95%
    }  
    .effect7{
         width: 80%;
         height: 250px;
         margin-top: 5px;
     }
}

@media screen and (max-width: 450px){
    .top-margin{
        margin-top: 30px;
    }
    .filler-list{
        display: flex;
        font-size: 0.9em;
        margin: 30px 0 30px 0px;
        width: 99%;
        max-width: 97%;
    }
    .filler-list a{
        width: 48vw;
    }    
    .filler-list .bordered *{
        width: auto;
    }
    .filler-list .bordered {
        display: inline-block !important;
    }     
    .list-item{
    
        width: 100%;
        height: 300px;
    }  
    .list-image{
        width: 95%
    }  
    .bordo{

        width: 96.5% !important;

     }

     .effect7{
        width: 95%;
        height: 250px;
        margin-top: 5px;
    }
}
   