
.favorite-heart-whole {
    margin: 10px 10px 0 0;
    color: grey;
    z-index: 1;
    position: absolute;
    right:0;
    top: -14px;
    display: none;
}

.favorite-heart-whole:hover{
    color:rgb(191, 71, 71);
    cursor: pointer;
    z-index: 1;
}

.liked {
    display: block;
    color:rgb(191, 71, 71);
}

@media (max-width:768px){
    .favorite-heart-whole {
        display: block;
    }
}