.favorite-heart-whole{
    margin: 10px 10px 0 0;
    color: grey;
    z-index: 2;
    position: absolute;
    right:0
}
.favorite-heart-whole {
    margin: 10px 10px 0 0;
    color: grey;
    z-index: 2;
    position: absolute;
    right:0
}

.favorite-heart-whole :hover{
    color:rgb(191, 71, 71);
    cursor: pointer;
    z-index: 2;
}

.liked{
    color:rgb(191, 71, 71);
    cursor: pointer;
    z-index: 2;
}

.favorite-heart-whole:before:hover{
    display: none;
}