.addToCart-whole{
    height: 30px;
    display: flex;
    justify-content: center;
}
.addToCart-whole div{
    height: 30px;
    display: flex;
    justify-content: center;
}
.addToCart-whole  div button svg {
    height: 30px !important;
    display: flex;
    justify-content: center;

}