.nav-whole{
    display: flex;
    justify-content: space-between;
    background: transparent;
    position: relative;
    top:0;
    margin-bottom:-110px ;
    z-index: 2;
    color: white;
    align-items: center;
    height: 110px;
}
.nav-logo{
    margin-left: px;
}

.nav-signIn-cart img{
    height: 30px;
    width: 30px;
}