.nav-whole{
    display: flex;
    justify-content: space-between;
    background: linear-gradient( rgb(0, 0, 0), rgba(255,0,0,0));
    position: relative;
    top:0;
    margin-bottom:-110px ;
    z-index: 2;
    color: white;
    align-items: center;
    height: 110px;
    
}

.menu-left-item{
    font-size: 1.7em !important
}




a { text-decoration: none; }

a:visited { text-decoration: none; 
color: white}
a:hover { text-decoration: none; 
cursor: pointer;
color: rgb(191, 71, 71)}
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.nav-whole .nav-logo{
    margin-left: 20px;
}

.nav-signIn-cart img{
    height: 30px;
    width: 30px;
    
}

.nav-signIn-cart {
    margin-top: -28px;
    margin-right: -50px;
}
#cart-badge{
    margin-bottom: 0;
    position: relative;
    bottom: -8px;
}

.cart-drawer{
    line-height: 30px;
}

.cart-drawer >div >div >div{
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 15px;
    margin-top: 15px;
    margin-left: 0px;
}


.cart-drawer >div >div{
display: flex;
justify-content: center;
align-items: center;
}
.left-side{
    float: left;
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-side{
    float: right;
    width:70%;
    margin-left: 20px;

}
.right-side div{
    float: right;
    display: flex;
    text-overflow: ellipsis;
    justify-content: flex-start;
    max-height: 3.6em;
    word-wrap: normal;
    width: 100%;
    font-size: .9em !important; 
    text-overflow: 
}
.sides {
    display:flex;
    max-width:240px;
}

@font-face{
    font-family: 'Material Icons';
    src: url("https://fonts.googleapis.com/icon?family=Material+Icons");
    font-weight: normal;
    font-style: normal;
}

.material-icons{
    font-family: 'Material Icons';
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}


#nav-signIn-noBadge{
    margin-bottom: -12px;
}

#nav-signIn-noBadge img{
    position: relative;
    bottom: -7px;
    left: 14px;
}


.small-nav{
    display: none;
}

@media (max-width: 450px){
    .small-nav{
        display: block;
    }
    .nav-whole{
        display: none;
    }
}
